<div class="container" ng-controller="homeController">
	<div class="row">
		<div class="col-sm-12">
			<form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
				<!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
				<div class="form-group col-sm-6">
					<label>Title</label>
					<input type="text" name="name" class="form-control" ng-model="book.title" placeholder="Book Title" required>
				</div>
				<div class="form-group col-sm-6">
					<label>Author</label>
					<input type="text" name="username" class="form-control" placeholder="Name of the author"
								 ng-model="book.author" required>
				</div>
				<div class="form-group col-sm-6">
					<label>ISBN</label>
					<input type="text" name="isbn" class="form-control" placeholder="ISBN10 (10 digit number) Example: 1234567890"
								 ng-model="book.isbn10" required>
				</div>
				<div class="form-group col-sm-6">
					<label>Publication Year</label>
					<select id="expLevel" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required"
									ng-model="book.publicationyear" required>
						<option value="2016">2016</option>
						<option value="2015">2015</option>
						<option value="2014">2014</option>
						<option value="2013">2013</option>
						<option value="2012">2012</option>
						<option value="2010">2010</option>
						<option value="2009">2008</option>
						<option value="2008">2008</option>
						<option value="2007">2007</option>
						<option value="2006">2006</option>
					</select>
				</div>

				<div class="form-group col-sm-6">
					<label>Price</label>
					<input type="text" name="price" class="form-control" placeholder="100$"
								 ng-model="book.price" required>
				</div>

				<div class="form-group col-sm-6">
					<label>Quantity</label>
					<input type="text" name="price" class="form-control" placeholder="200"
								 ng-model="book.quantity" required>
				</div>

				<button type="submit" ng-click="createBook(book)" ng-disabled="userForm.$invalid"
								class="btn btn-default submitBtn">Submit
				</button>
			</form>
		</div>
	</div>

	<hr/>

	<div class="row">
		<div class="col-sm-12 text-center">
			<form>
				<div class="form-group">
					<input type="text" class="form-control input-lg text-center"
								 placeholder="Search (example: node.js or android)" ng-model="searchText">
				</div>

			</form>
		</div>
	</div>
	<div class="col-sm-12">
		<div ng-repeat="book in books | filter:searchText | orderBy:'title'">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-9">
							<h5 class="booktitle">Title: {{book.title}}</h5>
						</div>
						<div class="col-sm-3 text-right">
							<i class="fa fa-calendar"> {{book.publicationyear}}</i>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							Author: {{book.author}}
						</div>
						<div class="col-sm-6 text-right">
							<button class="btn btn-danger" ng-click="deleteBook(book._id)">
								<i class="fa fa-trash-o"></i> Delete</a>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>