<div class="container" ng-controller="checkoutController">
	<ngcart-cart></ngcart-cart>


	<div class="container" ng-disabled="ngCart.getTotalItems() === 0">
		<div class="row">
			<div class="col-xs-12 col-md-12">

				<div class="panel panel-default credit-card-box">
					<div class="panel-heading display-table">
						<div class="row display-tr">
							<h3 class="panel-title display-td">Payment Details</h3>
							<div class="display-td">
								<img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
							</div>
						</div>
					</div>
					<div class="panel-body">

						<form  name="paymentForm" ng-submit="submitForm(paymentForm.$valid)" novalidate>
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<label for="cardNumber">CARD NUMBER</label>
										<div class="input-group">

											<input id="cardNumber"
														 type="tel"
														 class="form-control"
														 name="cardNumber"
														 placeholder="Valid Card Number"
														 autocomplete="cc-number"
														 required>

											<span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-7 col-md-7">
									<div class="form-group">
										<label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span
														class="visible-xs-inline">EXP</span> DATE</label>
										<input id="cardExpiry"
													 type="text"
													 class="form-control"
													 name="cardExpiry"
													 placeholder="MM / YY"
													 required>
									</div>
								</div>
								<div class="col-xs-5 col-md-5 pull-right">
									<div class="form-group">
										<label for="cardCVC">CV CODE</label>
										<input id="cardCVC"
													 type="tel"
													 class="form-control"
													 name="cardCVC"
													 placeholder="CVC"
													 autocomplete="cc-csc"
													 required
										/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<button class="btn btn-success btn-lg btn-block" ng-click="makePayment()" data-toggle="modal"
													data-target="#myModal" ng-disabled="paymentForm.$invalid" type="submit">Submit
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>


			</div>
		</div>
	</div>


	<!-- Modal Dialog-->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Congratulations!!! Your order has been placed.</h4>
				</div>
				<div class="modal-body">
					<p>Here is your order number: {{confirmationNumber}}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</div>


